{{define "layout"}}
<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
  <title>MONTA. TO DO</title>
  <link rel="stylesheet" href="/static/css/style.css">
  <script src="/static/js/jquery-3.6.0.min.js"></script>
</head>
<body>
  <section class="wrapper">
    <div class="main-title">
      <h1>MONTA. TO DO</h1>
      {{template "content" .}}
    </div>
  </section>
</body>
</html>
{{end}}