@charset "utf-8";

body {
  padding: 10px;
  background-color: rgb(210, 255, 240);
}

.wrapper {
  max-width: 670px;
  margin: 0px auto;
  border: solid 1px;
  border-radius: 10px;
  background-color: white;
  opacity: 0.8;
}

.main-title {
  padding: 10%;
  text-align: center;
}
