@charset "utf-8";

body {
  padding: 10px;
  background-color: rgb(56, 154, 245);
}

li {
  list-style: none;
}

/* layoutのcss */
.wrapper {
  max-width: 670px;
  margin: 0px auto;
  border: solid 1px;
  border-radius: 10px;
  background-color: white;
}

/* top.htmlのcss */
.main-title {
  padding: 10% 10% 30px 10%;
  text-align: center;
}

.main-title h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

a {
  text-decoration: none;
}

.login-btn {
  text-align: center;
}

.btn--orange,
a.btn--orange {
  display: inline-block;
  color: black;
  background-color: white;
  border: 3px solid black;
  padding: 20px 60px;
  transition: ease 0.3s;
}
.btn--orange:hover,
a.btn--orange:hover {
  color: #fff;
  background: rgb(0, 133, 235);
}

a.btn--radius, .btn--radius {
   border-radius: 100vh;
}

.section-content {
  padding: 30px 10% 10% 10%;
}

.btn-flex {
  display: flex;
}

.btn-flex li {
  width: 50%;
}

/* signup.htmlのcss*/
.text-center {
  text-align: center;
}

form {
  margin:0px auto;
  width:347px;
  text-align:center;
}

form h1 {
  margin-bottom: 20px;
}

.form-control {
  background:rgba(200, 200, 200, 0.2);
  display:block;
  width:269px;
  padding:15px;
  margin: 10px auto;
}

.margin-top-20 {
  margin-top: 20px;
}
